:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 940px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #fff;
  --text-color: #48555b;
  --accent-color: #00a4e5;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/../fonts/OpenSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/../fonts/OpenSansSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/../fonts/OpenSansBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/../fonts/OpenSansExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  font-size: 18px;
  letter-spacing: 2.30625px;
  text-transform: uppercase;
  color: var(--text-color);
}

.header {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__inner {
  max-width: 790px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 71px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.header__title {
  color: var(--white-color);
}
.header__title h1 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
.header__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.header__scroll {
  font-size: 13px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  color: var(--white-color);
}

.navbar {
  padding: 24px 0;
  margin-bottom: 58px;
  border-bottom: 1px solid #E6E6E6;
}
.navbar__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 576px) {
  .nav {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 30px;
    width: 30%;
    max-width: 260px;
    background-color: var(--white-color);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 35px;
}
@media (max-width: 576px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px 0;
  }
}
.nav__item {
  font-size: 12px;
  letter-spacing: 1.09091px;
  text-transform: uppercase;
}
.nav__link {
  color: var(--text-color);
}
.nav__link:hover {
  color: var(--accent-color);
}

.burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .burger {
    display: block;
    position: relative;
    z-index: 1001;
  }
}

.menu--active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.story {
  margin-bottom: 115px;
}
@media (max-width: 860px) {
  .story {
    margin-bottom: 70px;
  }
}
.story__title {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
}
.story__title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--accent-color);
}

.inner-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 70px;
}
@media (max-width: 1024px) {
  .inner-story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.inner-story__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 43%;
  flex: 0 0 43%;
}
.inner-story__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
}

.left-story__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: var(--text-color);
}
.left-story__title span {
  color: var(--accent-color);
}
.left-story__text {
  margin: 0;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.1875px;
  color: var(--text-color);
}

.right-story__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  padding-top: 13px;
}
@media (max-width: 576px) {
  .right-story__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.right-story__item {
  position: relative;
}
.right-story__title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  font-size: 24px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  color: var(--white-color);
}
.right-story__img {
  height: 224px;
}

.services {
  margin-bottom: 115px;
}
@media (max-width: 860px) {
  .services {
    margin-bottom: 70px;
  }
}
.services__header {
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 860px) {
  .services__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.services__title {
  margin: 0;
  position: relative;
}
@media (max-width: 860px) {
  .services__title {
    margin-bottom: 30px;
  }
}
.services__title::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--accent-color);
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
}
@media (max-width: 860px) {
  .services__content {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.services__text {
  display: block;
  margin: 0;
  overflow: hidden;
  max-width: 405px;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.2px;
  color: var(--text-color);
}
@media (max-width: 860px) {
  .services__text {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .services__text {
    margin-bottom: 15px;
  }
}
.services__btn {
  display: inline-block;
  height: 40px;
  padding: 11px 29px;
  font-size: 13px;
  line-height: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.services__btn:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.list-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}
@media (max-width: 860px) {
  .list-services {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
}
.list-services__item {
  padding: 35px 22px 39px 22px;
  border: 1px solid #e6e6e6;
}
@media (max-width: 860px) {
  .list-services__item {
    padding: 20px 22px 20px 22px;
  }
}
.list-services__title {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  color: var(--text-color);
}
.list-services__text {
  margin: 0;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.19px;
  color: var(--text-color);
}

.work {
  min-height: 499px;
  background-image: url("../img/work-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.work__inner {
  margin: 0 auto;
  padding-top: 120px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.work__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.15px;
  color: var(--text-color);
}
.work__btn {
  display: inline-block;
  padding: 11px 26px;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.work__btn:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
/*# sourceMappingURL=main.css.map */
